* {
    margin: 0;
    box-sizing: border-box;
}
html,
body {
    background-color: #F5C98C;
    height:100%;
}

.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.main {
    flex: 1 1 auto;
    background-color: #FDEFEB;
    background-image: url(pictures/background.png);
}

.header {
    display: flex;
    flex-wrap: wrap;
}

.header-menu {
    display: flex;
    flex-wrap: wrap;
    width: 60%;
    list-style-image: url("pictures/flower.png");
    justify-content: space-between;
    margin: 60px 0;
}

.button {
    font-size: 48px;
    color: #FFFFFF;
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.25);
    text-decoration: none;
    font-family: 'Kaisei Decol';
    letter-spacing: -0.16em;
    text-transform: uppercase;
}

.logo {
    width: 35%;
    text-align: center;
    font-weight: 400;
    font-size: 150px;
    color: #e57c78;
    text-shadow: 10px 10px 10px rgba(0, 0, 0, 0.25);
    text-decoration: none;
    font-family: 'Italianno';
}

.name {
    color: #E57C78;
    font-size: 179px;
    text-transform: uppercase;
    text-shadow: 0 30px 17px rgba(0, 0, 0, 0.25);
    text-align: center;
    margin-top: 5%;
}

.question {
    color: #E57C78;
    font-size: 90px;
    font-family: 'Kurale';
    text-align: center;
    padding: 40px 0;
    margin: 40px 0;
}

.cityname {
    color: #789990;
    font-size: 89px;
    font-family: 'Kurale';
    text-align: center;
    padding: 40px 0;
}

.mapimage {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 7%;
}

.number {
    font-family: 'Kurale';
    color: #FFF;
    font-size: 67px;
    text-align: center;
    text-decoration: none;
}

.icons {
    text-align: center;
    word-spacing: 1em;
    margin-bottom: 30px;
}

.fa {
    font-size: 70px;
    text-decoration: none;
    color: #e3980e;
}